@import url('font/quicksand.css');

html, body, #app {
    height: 100%;
}

body{
    padding-top:5rem;
    flex-direction:column;
    font-family: Quicksand;
    overflow-y: hidden;
}

.content{
    display:flex;
    height: 100%;
    z-index: 1;
    background-color: whitesmoke;
}
.main {
    flex-grow: 1;
    overflow-y: auto;
    background: linear-gradient(rgba(0,0,0,0) 40%, rgba(0,0,0,0.4) 80%);
    padding: 1.5rem !important;
    height: 100%;
}

