@import url('font/quicksand.css');

html, body {
    height: 100%;
}

body{
    padding-top:5rem;
    flex-direction:column;
    font-family: Quicksand;
    overflow-y: hidden;
}

.content{
    display:flex;
    height: 100%;
    z-index: 1;
    background-color: whitesmoke;
}
