@page "/checkout"


    <div class="main">
        <EditForm Model="MyOrderState.MyOrder.DeliveryAddress" OnValidSubmit="PlaceOrder" >
            <div class="checkout-cols">
                <div>
                    <h4>Check your order</h4>
                    <OrderReview MyOrder="MyOrderState.MyOrder" />
                </div>
                <div>
                    <h4>Sent to...</h4>
                    <AddressEditor MyAddress="MyOrderState.MyOrder.DeliveryAddress" />
                </div>
            </div>
            <button class="checkout-button btn btn-warning @(Clicked ? "disable":"")"  >
                Place order
            </button>
            <DataAnnotationsValidator/>
        </EditForm>
    </div>