@page "/myorders"
@attribute [Authorize]

<div class="main">
    <TemplateList Loader="LoadOrders" ListGroupClass="orders-list">
        @*<Loading><div class="loading-bar"></div></Loading>
        <Empty>
            <h2>No orders yet!</h2>
            <a href="" class="btn btn-success">Get a pizza!</a>
        </Empty>*@
        <Item Context="Item">
            <div class="col">
                <h5>@Item.MyOrder.CreatedTime.ToLongDateString()</h5>
                Pizzas:
                <strong>@Item.MyOrder.Pizzas.Count()</strong>
                Total price:
                <strong>$@Item.MyOrder.GetFormattedTotalPrice()</strong>
            </div>
            <div class="col">
                Status: <strong>@Item.StatusText</strong>
            </div>
            <div class="col text-right">
                <a href="myorders/@Item.MyOrder.OrderId" class="btn btn-success">
                    Track &gt;
                </a>
            </div>
        </Item>
    </TemplateList>
</div>