@inherits LayoutComponentBase

<div class="top-bar">
    <a class="logo" href="/">
        <img src="images/logo.svg" />
    </a>
    <NavLink href="/" class="nav-tab" Match="NavLinkMatch.All">
        <img src="images/pizza-slice.svg" alt="Home" />
        <div>Elegir Pizza</div>
    </NavLink>
    <NavLink href="myorders" class="nav-tab" Match="NavLinkMatch.All">
        <img src="images/bike.svg" alt="Orders" />
        <div>My Orders</div>
    </NavLink>
</div>

<div class="content">
    @Body
</div>

